<mat-card>
    <h1>new book</h1>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="title" [(ngModel)] = "title"
                           name = "title"
                           required
                           #tit = "ngModel">

          <mat-error *ngIf="!(tit.valid || tit.ng-pristine)">
            title is required
          </mat-error>                        
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author"
                             name = "author"
                             required
                             #auth = "ngModel">
  
            <mat-error *ngIf="!(auth.valid || auth.ng-pristine)">
                autor is required
            </mat-error>                        
          </mat-form-field>
  

   
          <button mat-raised-button color="primary" [disabled]="!bookForm.form.valid">{{buttonText}}</button>
          <button mat-raised-button [routerLink]="'/books'" >Cancel</button>
          
      </div>
    </form>
    </mat-card>
