<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      current temperature in {{city}} is {{temperature | number:'1.0-0'}}º
    </p>
    <a routerLink="/tempform" routerLinkActive="active">Update temperature</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click) = "addLikes()" >LIKE</button><span *ngIf = "likes!=0">{{likes}}</span>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>